/* From Uiverse.io by zjssun */ 
#btn {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
  #btn.saved {
    color: #ffffff;
    background: #ffa31a;
    border: 1px solid #ffa31a;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  }
  
  #btn:hover,
  :focus {
    color: #ffffff;
    background: #ffa31a;
    border: 1px solid #ffa31a;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #ffa31a, 0 0 20px #ffa31a, 0 0 10px #ffa31a,
      0 0 100px #ffa31a;
  }
  

/* From Uiverse.io by TimTrayler */ 
input[type="button"] {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
  
  input[type="button"]:hover,
  :focus {
    color: #ffffff;
    background: #292929;
    border: 1px solid #292929;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #292929, 0 0 20px #292929, 0 0 50px #292929,
      0 0 100px #292929;
  }
  
  img {
    max-width: 600px;
    max-height: 400px;
  }